* {
	margin: 0;
	padding: 0;
}
body {
	font-family: "times new roman", "courier new", sans-serif;
}
h1 {
	font-size: 450%;
	font-weight:100;
}
h3 {
	font-size: 150%
}
header {
	background-color: black;
}
nav {
	width: 57%;
	margin: 0 auto;
	padding: 20px 10px 20px 10px;
}
header nav a {
	text-decoration-line: none;
	text-align: center;
	border: 1px solid grey;
	margin-right: 20px;
	padding: 10px 20px 10px 20px;
	color: white;
	font-size: 130%;
}
#front-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-image: url(../img/bg-1.jpg);
	height: 580px;
	color: white;
}
.container {
	width: 1260px;
	margin: 0 auto;
	margin-top: 60px;
}
.three-columns {
	display: block;
	float: left;
	width: 360px;
	background-color: lightgray;
	margin: 10px 30px 10px 30px;
}
#grn-btn {
	background-color: green;
	color: white;
	padding: 10px 20px;
	border-radius: 10px;
	
	margin: 10px;
}
#blue-btn {
	background-color: cornflowerblue;
	color: white;
	padding: 10px 20px;
	border-radius: 10px;
	margin: 10px;
}
#red-btn {
	background-color: darkred;
	color: white;
	padding: 10px 20px;
	border-radius: 10px;
	margin: 10px;
}
