* {
	margin: 0;
	padding: 0;
}
body {
	font-family: arial, "courier new", serif;
}
h1 {
	font-size: 450%;
	font-weight:100;
}
#nav-bar {
	background-color: black;
	position: fixed;
	top: 0;
	width: 100%;
}
nav {
	width: 57%;
	margin: 0 auto;
	padding: 20px 10px 20px 10px;
}
header nav a {
	text-decoration-line: none;
	text-align: center;
	border: 1px solid grey;
	margin-right: 20px;
	padding: 10px 20px 10px 20px;
	color: white;
	font-size: 130%;
}
nav a:hover {
	background-color: #1a1a1a;
}
.active {
	background-color: #1a1a1a;
	border: 1px dotted white;
}
.container {
	width: 86.6%;
	margin: 0 auto;
}
.container-fluid {
	width: 100%;
}
/* ************************************************** section1 or front-page styles ***************************************************** */
#section1 {
	background-image: url(../img/bg-1.jpg);
	color: white;
	background-position: left bottom;
	background-attachment: fixed;
}
#front-page {
	height: 620px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
/* ************************************************** section2 or three-column styles *************************************************** */
#section2 {
	margin-top: 60px;
	height: 520px;
}
#column1 {
	display: block;
	float: left;
	width: 360px;
	height: inherit;
	background-color: lightgray;
	margin-left: 0;
}
#column2 {
	display: block;
	float: left;
	width: 360px;
	height: inherit;
	background-color: lightgray;
	margin-left: 25px;
}
#column3 {
	display: block;
	float: right;
	width: 360px;
	height: inherit;
	background-color: lightgray;
	margin-right: 0;
}
#column1 h3 {
	font-size: 150%;
	padding: 0 12px;
}
#column2 h3 {
	font-size: 150%;
	padding: 0 12px;
}
#column3 h3 {
	font-size: 150%;
	padding: 0 12px;
}
.p-3-cols {
	font-size: 110%;
	padding: 0 17px;
}
#bootstrap {
	margin: 30px 0;
	color: green;
}
#responsive {
	margin: 30px 0;
	color: cornflowerblue;
}
#parallax {
	margin: 30px 0;
	color: lightslategrey;
}
#grn-btn {
	background-color: green;
	color: white;
	width: 180px;
	height: 50px;
	padding: 10px 20px;
	border-radius: 10px;
	margin: 40px 80px;
	font-size: 20px;
}
#blue-btn {
	background-color: cornflowerblue;
	color: white;
	width: 180px;
	height: 50px;
	padding: 10px 20px;
	border-radius: 10px;
	margin: 40px 80px;
	font-size: 20px;
}
#red-btn {
	background-color: darkred;
	color: white;
	width: 180px;
	height: 50px;
	padding: 10px 20px;
	border-radius: 10px;
	margin: 40px 80px;
	font-size: 20px;
}
/* *************************************************** section3 or two-columns styles *************************************************** */
#section3 {
	margin-top: 60px;
	height: 600px;
}
#left-column {
	display: block;
	float: left;
	width: 556px;
	height: inherit;
	background-color: lightgray;
}
#right-column {
	display: block;
	float: right;
	width: 556px;
	height: inherit;
	background-color: lightgray;
}
.two-columns h2 {
	font-size: 150%;
	margin: 20px 144px;
}
.two-columns p {
	font-size: 100%;
	margin: 20px;
}
#read-btn {
	background-color: whitesmoke;
	width: 180px;
	height: 50px;
	padding: 10px 20px;
	border-radius: 10px;
	margin: 10px 20px 10px 280px;
	font-size: 20px;
}
/* ************************************************ section4 or jombotron section styles ************************************************ */
#section4 {
	background-image: url(../img/bg-2.jpg);
	backface-visibility: visible;
	background-attachment: fixed;
	height: 400px;
	display: flex;
	align-items: center;
	align-items: center;
	justify-content: center;
	color: white;
	margin-top: 60px;
}
#jombotron h1 {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}
#jombotron h4 {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}
/* *********************************************** section5 or four-columns section styles ********************************************** */
#section5 {
	margin-top: 60px;
	height: 500px;
}
.left-3-cols {
	display: block;
	float: left;
	width: 260px;
	height: inherit;
	background-color: lightgray;
	margin-right: 29.6px;
}
.right-1-col {
	display: block;
	float: right;
	width: 260px;
	height: inherit;
	background-color: lightgray;
	margin-right: 0;
}
.four-cols-btn {
	background-color: whitesmoke;
	width: 120px;
	height: 45px;
	padding: 4px 15px;
	border-radius: 8px;
	margin: 20px 80px;
	font-size: 18px;
}
#h3-sec-5 {
	margin: 20px 60px;
}
.p-sec-5 {
	margin: 10px 20px;
}
/* *********************************************** section6 or one big picture section styles ******************************************* */
#section6 {
	background-color: lightgray;
	margin-top: 60px;
	height: 780px;
}
#sec-6-col {
	width: 1140px;
	margin: 0 auto;
}
#img-4-5 {
	width: 99%;
	margin-bottom: 40px;
}
#sec-6-col h3 {
	margin: 0 0 20px 20px;
}
#sec-6-col p {
	margin: 20px;
}
#read-more-btn {
	background-color: whitesmoke;
	width: 180px;
	height: 50px;
	padding: 10px 20px;
	border-radius: 10px;
	margin: 10px 0 30px 20px;
	font-size: 20px;
}
/* *************************************************** section7 or form section styles ************************************************** */
#section7 {
	background-image: url(../img/bg-3.jpg);
	backface-visibility: visible;
	background-attachment: fixed;
	height: 600px;
	margin-top: 60px;
}
#form-section {
	padding-top: 120px;
	width: 42%;
	margin: 0 auto;
}
#form-txt {
	text-align: center;
}
form {
	display: block;
	margin: 0 auto;
}
#form-txt h1 {
	color: white;
	font-size: 220%;
}
#form-txt p {
	background: rgb(255, 255, 255, 0.4);
	padding: 20px;
	border-radius: 5px;
}
#form-inputs {
	float: left;
}
#form-inputs input {
	background: rgb(255, 255, 255, 0.4);
	width: 248px;
	height: 30px;
	border-radius: 5px;
	padding-left: 10px;
	margin-bottom: 10px;
}
#message {
	background: rgb(255, 255, 255, 0.4);
	width: 248px;
	height: auto;
	border-radius: 5px;
	padding: 10px 0 0 10px;
}
#form-txt-area {
	float: right;
}
#send {
	width: 100px;
	height: 50px;
	background-color: black;
	color: white;
	border-radius: 10px;
}
/* *************************************************** section8 or footer section styles ************************************************ */
#section8 {
	color: grey;
}
.footer-section {
	width: 28%;
	margin: 0 auto;
	text-align: center;
	padding: 50px 0 50px 0;
}
.footer-section h2 {
	margin-bottom: 30px;
}