* {
	margin: 0;
	padding: 0;
}
body {
	font-family: "times new roman", "courier new", sans-serif;
}
h1 {
	font-size: 450%;
	font-weight:100;
}
#nav-bar {
	background-color: black;
	position: fixed;
	top: 0;
	width: 100%;
}
nav {
	width: 57%;
	margin: 0 auto;
	padding: 20px 10px 20px 10px;
}
header nav a {
	text-decoration-line: none;
	text-align: center;
	border: 1px solid grey;
	margin-right: 20px;
	padding: 10px 20px 10px 20px;
	color: white;
	font-size: 130%;
}
.container {
	width: 1260px;
	margin: 0 auto;
}
/* ************************************************** section1 or front-page styles ***************************************************** */
#section1 {
	background-image: url(../img/bg-1.jpg);
	color: white;
	background-position: left bottom;
	background-attachment: fixed;
}
#front-page {
	height: 620px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
/* ************************************************** section2 or three-column styles *************************************************** */
#section2 {
	margin-top: 60px;
	height: 520px;
}
#column1 {
	display: block;
	float: left;
	width: 360px;
	background-color: lightgray;
	margin-left: 45px;
}
#column2 {
	display: block;
	float: left;
	width: 360px;
	background-color: lightgray;
	margin: 0 45px;
}
#column3 {
	display: block;
	float: right;
	width: 360px;
	background-color: lightgray;
	margin-right: 45px;
}
#column1 h3 {
	font-size: 150%;
	padding: 0 12px;
}
#column2 h3 {
	font-size: 150%;
	padding: 0 12px;
}
#column3 h3 {
	font-size: 150%;
	padding: 0 12px;
}
#column1 p {
	font-size: 110%;
	padding: 0 12px;
}
#column2 p {
	font-size: 110%;
	padding: 0 12px;
}
#column3 p {
	font-size: 110%;
	padding: 0 12px;
}
#bootstrap {
	margin: 30px 0;
	color: green;
}
#responsive {
	margin: 30px 0;
	color: cornflowerblue;
}
#parallax {
	margin: 30px 0;
	color: lightslategrey;
}
#grn-btn {
	background-color: green;
	color: white;
	width: 180px;
	height: 50px;
	padding: 10px 20px;
	border-radius: 10px;
	margin: 40px 80px;
	font-size: 20px;
}
#blue-btn {
	background-color: cornflowerblue;
	color: white;
	width: 180px;
	height: 50px;
	padding: 10px 20px;
	border-radius: 10px;
	margin: 40px 80px;
	font-size: 20px;
}
#red-btn {
	background-color: darkred;
	color: white;
	width: 180px;
	height: 50px;
	padding: 10px 20px;
	border-radius: 10px;
	margin: 40px 80px;
	font-size: 20px;
}
/* *************************************************** section3 or two-columns styles *************************************************** */
#section3 {
	margin-top: 60px;
	height: 600px;
}
.two-columns {
	display: block;
	float: left;
	width: 556px;
	height: 600px;
	background-color: lightgray;
	margin: 0 30px;
}
#left-column {
	margin-left: 40px;
}
#right-column {
	margin-left: 40px;
}
.two-columns h3 {
	font-size: 150%;
	margin: 20px 142px;
	padding: 0 12px;
}
.two-columns p {
	font-size: 100%;
	margin: 20px 40px;
	padding: 0 12px;
}
#read-btn {
	background-color: whitesmoke;
	width: 180px;
	height: 50px;
	padding: 10px 20px;
	border-radius: 10px;
	margin: 10px 20px 10px 280px;
	font-size: 20px;
}
/* ************************************************ section4 or jombotron section styles ************************************************ */
#section4 {
	background-image: url(../img/bg-2.jpg);
	backface-visibility: visible;
	background-attachment: fixed;
	width: 100%;
	height: 400px;
	display: flex;
	align-items: center;
	align-items: center;
	justify-content: center;
	color: white;
	margin-top: 60px;
}
#jombotron h1 {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}
#jombotron h4 {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}
/* ********************************************** section5 or four-columns section styles *********************************************** */
#section5 {
	margin-top: 60px;
	height: 500px;
}
#col-5-1 {
	display: block;
	float: left;
	width: 260px;
	height: 500px;
	background-color: lightgray;
	margin-left: 35px;
	margin-right: 50px;
}
#col-5-2 {
	display: block;
	float: left;
	width: 260px;
	height: 500px;
	background-color: lightgray;
	margin-right: 50px;
}
#col-5-3 {
	display: block;
	float: left;
	width: 260px;
	height: 500px;
	background-color: lightgray;
	margin-right: 50px;
}
#col-5-4 {
	display: block;
	float: right;
	width: 260px;
	height: 500px;
	background-color: lightgray;
	margin-right: 35px;
}
#read-it-btn {
	background-color: whitesmoke;
	width: 100px;
	height: 30px;
	padding: 4px 15px;
	border-radius: 8px;
	margin: 20px 80px;
	font-size: 12px;
}
#details-btn {
	background-color: whitesmoke;
	width: 100px;
	height: 30px;
	padding: 4px 15px;
	border-radius: 8px;
	margin: 20px 80px;
	font-size: 12px;
}
#h3-sec-5 {
	margin: 10px 60px;
	padding: 0 10px;
}
#col-5-1 p {
	margin: 10px 20px;
}
#col-5-2 p {
	margin: 10px 20px;
}

#col-5-3 p {
	margin: 10px 20px;
}

#col-5-4 p {
	margin: 10px 20px;
}
/* ********************************************** section6 or four-columns section styles *********************************************** */
#section6 {
	background-color: lightgray;
	margin-top: 60px;
	width: 1140px;
	height: 780px;
}
#sec-6-col {
	width: 1140px;
	margin: 0 auto;
}
#img-4-5 {
	margin-bottom: 40px;
}
#sec-6-col h3 {
	margin: 0 0 20px 20px;
}
#sec-6-col p {
	margin: 20px;
}
#read-more-btn {
	background-color: whitesmoke;
	width: 180px;
	height: 50px;
	padding: 10px 20px;
	border-radius: 10px;
	margin: 10px 0 30px 20px;
	font-size: 20px;
}
/* *************************************************** section7 or form section styles ************************************************** */
#section7 {
	background-image: url(../img/bg-3.jpg);
	backface-visibility: visible;
	background-attachment: fixed;
	width: 100%;
	height: 600px;
	margin-top: 60px;
}
#form-section {
	padding-top: 160px;
	width: 50%;
	margin: 0 auto;
}
#form-txt {
	text-align: center;
}
form {
	display: block;
	margin: 0 auto;
}
#form-txt h3 {
	color: white;
}
#form-txt p {
	background: rgb(255, 255, 255, 0.4);
	padding: 20px;
	border-radius: 5px;
}
#form-inputs {
	float: left;
}
#form-inputs input {
	background: rgb(255, 255, 255, 0.4);
	width: 305px;
	height: 30px;
	border-radius: 5px;
}
#message {
	background: rgb(255, 255, 255, 0.4);
	width: 305px;
	height: auto;
	border-radius: 5px;
}
#form-txt-area {
	float: right;
}
#send {
	width: 100px;
	height: 50px;
	background-color: black;
	color: white;
	border-radius: 10px;
}
/* *************************************************** section8 or footer section styles ************************************************ */
#section8 {
	width: 100%;
}
#last-section {
	width: 27%;
	margin: 0 auto;
	text-align: center;
	padding: 50px 0 50px 0;
}
footer {
	width: 27%;
	margin: 0 auto;
	text-align: center;
	padding:  20px 0 20px 0;
}
